$path-to-accecss-filter: "";
$type-map: (
  1: "protanopia",
  2: "protanomaly",
  3: "deuteranopia",
  4: "deuteranomaly",
  5: "tritanopia",
  6: "tritanomaly",
  7: "achromatopsia",
  8: "achromatomaly"
);

// Color blindness

@each $num, $type in $type-map {
  &.#{$type} {
    filter: url("##{$type}") grayscale(0) !important;
  }
}

.grayscale {
  filter: grayscale(100%) !important;
}

// Vision Loss

.vision-loss-moderate {
  body > * {
    filter: blur(1px) !important;
  }
}

.vision-loss-severe {
  body > * {
    filter: blur(10px) !important;
  }
}

.vision-blindness {
  body > * {
    background-color: #fff !important;
    filter: brightness(0) !important;
  }
}

#access-filter {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}
